.container {
	display: flex;
	justify-content: center;
	align-items: center;
	width:auto;
}

.optionsContainer {
	position: absolute;
	opacity: 0;
	pointer-events: none;
	width: 100%;
	height: 46px;
	bottom: 0px;
	right: 0;
	background-color: var(--bgColor);
	color: var(--primaryColor);
	z-index: 100;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	overflow-x: hidden;
}

.optionsContainer i {
	margin: 3px;
}

.visible {
	opacity: 1;
	pointer-events: all;
}
