.container {
	width: 100%;
	text-align: center;
	position: relative;
	z-index: 2;
	margin: 10px 0px 5px 0px;
}

.minimized {
	width: 90%;
	margin: 18px 0px 10px 0px;
}

.seekbar {
	width: 100%;
	appearance: none;
	height: 2px;
	background: var(--primaryColor);
	outline: none;
	opacity: 0.7;
	transition: opacity 0.2s;
	padding: 0 !important;
}

.seekbar::-webkit-slider-thumb {
	appearance: none;
	width: 14px; /* Set a specific slider handle width */
	height: 14px; /* Slider handle height */
	background: var(--bgColor);
	cursor: grab; /* Cursor on hover */
	border: 2px solid var(--primaryColor);
	border-radius: 50%;
	z-index: 1;
	box-shadow: 0 2px 5px var(--secondaryColor);
	transition: transform 0.1s ease-out;
}
.seekbar::-moz-range-thumb {
	appearance: none;
	width: 14px; /* Set a specific slider handle width */
	height: 14px; /* Slider handle height */
	background: var(--bgColor);
	cursor: pointer; /* Cursor on hover */
	border: 2px solid var(--primaryColor);
	border-radius: 50%;
	z-index: 1;
	box-shadow: 0 2px 5px var(--secondaryColor);
	transition: transform 0.4s ease-out;
}

.seekbar::-webkit-slider-thumb:hover {
	transform: scale(1.1);
	box-shadow: 0 2px 10px var(--bgColor);
}

.seekbar::-webkit-slider-thumb:active {
	cursor: grabbing;
}

.time {
	width: 50px;
	font-size: 0.7em !important;
	font-weight: normal !important;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 19px;
	left: -15px;
	z-index: 100 !important;
	color: #111;
	margin: 0 !important;
}
