.icon {
	display: inline-block;
	width: 16px;
	height: 16px;
	margin: 0px 5px 0px 5px;
	cursor: pointer;
	/* border: 2px solid #111; */
	border-radius: 4px;
	transition: all 0.2s ease-in;
	box-shadow: 0px 0px 2px 1px var(--primaryColor);
}

.icon:hover {
	transform: scale(1.2);
}
