.icon {
	display: inline-block;
	width: 16px;
	height: 16px;
	margin: 0px 3px 0px 3px;
	cursor: pointer;
	border: 2px solid #111;
	border-radius: 4px;
	transition: all 0.2s ease-in;
}

.icon:hover {
	transform: scale(1.2);
}
