.container {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	height: 30px;
	width: 100%;
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 100;
	font-size: 1em !important;
	width: 20px;
	height: 20px;
	border-radius: 3px;
	border: 2px solid var(--primaryColor);
	background-color: var(--bgColor);
	color: var(--textColor);
	font-weight: bold !important;
	cursor: pointer;
	transition: all 0.1s linear;
}

.button:hover {
	background-color: var(--bgColor);
	color: var(--secondaryColor);
	transform: scale(1.05);
}

.showButton {
	position: fixed;
	bottom: 20px;
	right: -19px;
	border-radius: 50%;
	border: 2px solid var(--primaryColor);
	width: 40px;
	height: 40px;
	background-color: var(--secondaryColor);
	cursor: pointer;
	z-index: 100;
	transition: all 0.2s ease-out;
}

.showButton:hover {
	border: 2px solid var(--secondaryColor);
	transform: scale(1.05);
	box-shadow: 0px 0px 10px 2px var(--secondaryColor);
	background-color: var(--bgColor);
}

.showButton:hover .arrow {
	fill: var(--primaryColor);
	left: -60px;
	transform: scale(3) translateY(-3px);
	opacity: 0;
}

.line {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	height: 38px;
	width: 2px;
	background-color: var(--primaryColor);
}

.arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: -1px;
	width: 20px;
	height: 20px;
	font-size: 340px;
	fill: var(--bgColor);
	transition: all 0.7s ease-out;
	pointer-events: none;
	/* animation: movingArrow 0.5s infinite linear; */
}

@keyframes movingArrow {
	0% {
		left: -1px;
	}

	25% {
		left: -2px;
	}

	50% {
		left: -1px;
	}

	75% {
		left: 0px;
	}

	100% {
		left: -1px;
	}
}

.hideButton {
	position: absolute;
	top: 2px;
	right: -11px;
}

.minimizeButton {
	position: absolute;
	top: 2px;
	right: 11px;
}

.darkModeButton {
	position: absolute;
	top: 2px;
	left: -11px;
}
