.container {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	height: 30px;
	width: 100%;
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 100;
	font-size: 1em !important;
	width: 20px;
	height: 20px;
	border-radius: 3px;
	border: 2px solid var(--primaryColor);
	background-color: var(--bgColor);
	color: var(--textColor);
	font-weight: bold !important;
	cursor: pointer;
	transition: all 0.1s linear;
}

.button:hover {
	background-color: var(--bgColor);
	color: var(--secondaryColor);
	transform: scale(1.05);
}

@keyframes movingArrow {
	0% {
		left: -1px;
	}

	25% {
		left: -2px;
	}

	50% {
		left: -1px;
	}

	75% {
		left: 0px;
	}

	100% {
		left: -1px;
	}
}

.hideButton {
	position: absolute;
	top: 2px;
	right: -11px;
}

.minimizeButton {
	position: absolute;
	top: 2px;
	right: 11px;
}

.darkModeButton {
	position: absolute;
	top: 2px;
	left: -11px;
}
