.container {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.optionsWrapper1 {
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
}
.optionsWrapper2 {
	width: 200px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
