.container {
	width: min(100vw, 350px);
	height: 135px;
	right: -350px;
	font-size: 16px;
	position: fixed;
	z-index: 1000;
	bottom: 2px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	box-shadow: 0px 0px 10px 2px #aaa;
	padding: 15px;
	background-color: var(--bgColor);
	font-family: Arial, sans-serif !important;
	box-sizing: border-box;
	transition: right 0.2s ease-out, width 0.2s linear, height 0.2s linear;
}

.container * {
	box-sizing: border-box;
}

.visible {
	right: 5px;
}

.minimized {
	width: 150px;
	height: 100px;
}
