.container {
	opacity: 0;
	width: min(100vw, 350px);
	/* height: 135px; */
	right: -350px;
	font-size: 16px;
	position: fixed;
	z-index: 1000;
	bottom: 2px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	box-shadow: 0px 0px 10px 2px #aaa;
	background-color: var(--bgColor);
	font-family: Arial, sans-serif !important;
	box-sizing: border-box;
	transition: right 0.1s ease-out, width 0.05s linear, height 0.05s linear,
		opacity 0.7s ease-out;
	padding: 0px 15px;
}

.container * {
	box-sizing: border-box;
}

.container h5,
.container h4,
.container h3,
.container h2,
.container h1 {
	margin-block-end: auto;
	margin: 0;
	padding: 0;
	display: flex;
}

.visible {
	right: 5px;
	opacity: 1;
}

.minimized {
	width: 150px;
	height: 100px;
}

.overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
	background-color: rgba(242, 236, 236, 0.7);
	backdrop-filter: blur(2px);
	font-size: 0.7em;
	color: #000;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.error {
	/* background-color: rgba(242, 236, 236, 1);
	padding: 20px;
	backdrop-filter: blur(10px); */
}
